@use "variables" as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktop-xl {
    @media (min-width: v.$desktop-xl) {
        @content;
    }
}
@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    border-radius: 0.5rem;
    // @include texto-fluido(1.5rem, 1.8rem);
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;

    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}
@mixin grid($columnas: 1, $espaciado: 5rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}
@mixin contenedor {
    width: min(95%, 140rem);
    margin: 0 auto;
}
@mixin contenedor-md {
    width: min(95%, 80rem);
    margin: 0 auto;
}
@mixin contenedor-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}
@mixin headings {
    font-family: v.$fuente_principal;
    font-weight: v.$black;
    margin: 2rem 0;
}
@mixin nombre-pagina {
    @include headings;
    margin: 6rem 0 3rem 0;
    text-align: center;
}
@mixin descripcion-pagina {
    text-align: center;
    font-size: 1.8rem;
    font-weight: v.$delgada;
    color: v.$gris-oscuro;
    margin-bottom: 5rem;
}
@mixin texto-fluido($min, $max) {
    font-size: clamp($min, -0.8rem + 10vw ,$max);
}
@mixin enlace {
    all: unset; /*Elimina todos los estilos, 
    usualmente se usa al principio*/
    color: v.$blanco;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: v.$bold;

    &:hover {
        color: v.$button-primary;
        cursor: pointer;
    }
}
@mixin shadow {
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@mixin reset-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}