@use "base/variables" as v;
@use "base/mixins" as m;

.btnNvaPreg {
    margin-top: 1rem;
    width: 18%;
}

.mitable {
    background-color: v.$blanco;
    border-color: v.$negro solid;
}

.cabeceratb {
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    color: v.$blanco;
    background-color: v.$verdeoscuro;
}

.bg-celdas {
    tr:nth-child(odd) {
        background-color: lighten(v.$verdeoscuro, 50%);
    }
}


/* CSS para el Formulario de Altas */


.contenedor-form-altas {
    background-color: v.$gris;

    h3 {
        color: v.$blanco;
    }

    .form1-altas {
        @include m.contenedor;
        width: 60%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        border-top-left-radius: 40px 40px;
    }
}

.form1 {
    &-nombre {
        font-size: 3.6rem;
        font-weight: 900;
        text-align: center;
        color: v.$blanco;
    }

    &-header {
        background-color: v.$verde;
        padding: 0.5rem;

        p {
            text-align: center;
            color: v.$blanco;
            margin: 0;
            text-transform: uppercase;
            font-size: 2.2rem;
            padding: 1rem 0;
        }
    }

    &-body {
        background-color: v.$blanco;
        padding: 2rem;
    }

    &-botones {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        justify-content: center;
        align-items: center;

        @include m.tablet {
            flex-direction: row;
            gap: 0.5rem;
        }

    }
}